<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">{{ title }}</h2>
                <hr class="divider" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-8">
                <h1 class="mt-0" *ngIf="submitted">Added successfully!</h1>
                <form class="user" [formGroup]="providerForm" *ngIf="!submitted" (ngSubmit)="handleSubmit()">
                    <!-- Name input-->
                    <div class="row g-2">
                          <div class="col-lg-6 mb-3">
                            <div class="form-floating ">
                                <input class="form-control" formControlName="firstname" type="text" placeholder="Enter your first name..."  />
                                <label for="name">First name</label>
                                <div class="invalid-feedback" data-sb-feedback="firstname:required">A first name is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-6 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="lastname" type="text" placeholder="Enter your last name..."  />
                                <label for="name">Last name</label>
                                <div class="invalid-feedback" data-sb-feedback="lastname:required">A last name is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="position" type="text" placeholder="Enter your position..."  />
                                <label for="name">Position</label>
                                <div class="invalid-feedback" data-sb-feedback="position:required">A Position is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-6 mb-3">
                            <div class="form-floating ">
                                <input class="form-control" formControlName="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                        </div>
                          <div class="col-lg-6 mb-3">
                            <div class="form-floating ">
                                <input class="form-control" formControlName="phone" type="tel" placeholder="(123) 456-7890" />
                                <label for="phone">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        </div>
                        <hr class="divider" />
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="company_name" type="text" placeholder="Enter your company..." />
                                <label for="name">Company</label>
                                <div class="invalid-feedback" data-sb-feedback="company_name:required">A company name is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="address" type="text" placeholder="Enter your address..." />
                                <label for="name">Address</label>
                                <div class="invalid-feedback" data-sb-feedback="address:required">A address is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="city" type="text" placeholder="Enter your city..." />
                                <label for="name">City</label>
                                <div class="invalid-feedback" data-sb-feedback="city:required">A city is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <input class="form-control" formControlName="tagline" type="text" placeholder="Enter your tagline..." />
                                <label for="name">Tagline</label>
                                <div class="invalid-feedback" data-sb-feedback="tagline:required">A tagline is required.</div>
                            </div>
                        </div>
                          <div class="col-lg-12 mb-3">
                            <div class="form-floating">
                                <textarea class="form-control" formControlName="description" type="text" placeholder="Enter your description here..." style="height: 10rem"></textarea>
                                <label for="description">Description</label>
                                <div class="invalid-feedback" data-sb-feedback="description:required">A description is required.</div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending eidts!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid mt-5"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Add Provider</button></div>
                </form>
            </div>
        </div>
    </div>
</section>