
<div class="page-section" id="providers-add">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mt-0">Added successfully!</h1>
                <hr class="divider my-4">
                <h2 class="text-back-50 mb-4"></h2>
            </div>
        </div>
    </div>
</div>